[submodule "hass-cli"]
	path = hass-cli
	url = https://github.com/FlyrenxingSkill/hass-cli.git
[submodule "apple-music-dl"]
	path = apple-music-dl
	url = https://github.com/FlyrenxingSkill/apple-music-dl.git
[submodule "reminders"]
	path = reminders
	url = https://github.com/FlyrenxingSkill/reminders.git
[submodule "wechat-export"]
	path = wechat-export
	url = https://github.com/FlyrenxingSkill/wechat-export.git
[submodule "wechat-memory"]
	path = wechat-memory
	url = https://github.com/FlyrenxingSkill/wechat-memory.git
[submodule "projects/tgctl"]
	path = projects/tgctl
	url = https://github.com/FlyrenxingSkill/tgctl.git
